
{%load static%}


<meta name="author" content="CHRISTHIAN STEPHEN ">

    <title> Desarrollo de Paginas y Aplicaciones Web Puerto Vallarta y todo Mexico</title>

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /><!--ICONOS GG-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="programador" content="CHRISTHIAN STEPHEN ">
    <meta name="description" content="Desarrollador web christian stephen dedicado a crear sitios y aplicaciones que reflejen los valores y principios de tu negocio por medio del mundo digital. Comprometido con la excelencia técnica y la integridad ética en cada proyecto, utilizando mis habilidades para impactar positivamente en línea con mi trabajo">
    <meta name="keywords" content=" Desarrollo Web Puerto Vallarta Mexico, Desarrollador web de aplicaciones web,Sitios web acorde a las necesidades de tu negocio,Desarrollador web,Diseño web,Programación,programador web ,Experto en desarrollo  y hosting web, desarrollo digital">

    <meta name="title" content="Desarrollo Web 100% Personalizado | Metodos y Diseño Personalizado Dependiendo de las Necesidades de Tu negocio  ">
    <link  rel='icon'href={%  static 'images/foto-tarjeta-ico.ico' %} alt="logo pagina"/>
    <meta name="OG:TITLE" content=" Puerto Vallarta Web Developer">
    <meta name="OG:IMAGE" content="images/paginas_web_puerto_vallarta.jpeg"type="image/png">
    <meta name="OG:description" content="Desarrollador web christian stephen dedicado a crear sitios y aplicaciones que reflejen los valores y principios de tu negocio por medio del mundo digital. Comprometido con la excelencia técnica y la integridad ética en cada proyecto, utilizando mis habilidades para impactar positivamente en línea con mi trabajo.">


<!-- ############## TROZO DE CODIGO PARA QUE LAS IMAGENES TENGAN BOTON PARA CERRARLAS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function() {
        $(".fancybox").fancybox({
            infobar: false, // Disable the bottom toolbar
            buttons: [
                'close'
            ],
            btnTpl: {
                close: '<button data-fancybox-close class="fancybox-button fancybox-button--close" title="Close">' +
                    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>' +
                    '</button>'
            }
        });
    });
</script>

<link 
rel="stylesheet"
type="text/css"
href= {% static 'css/gallery_recommendation_styles.css'%} />

<link 
rel="stylesheet"
type="text/css"
href= {% static  'css/fonts.css'%}/>


{%block content%}
<main class="container">
    <div class="articulos-item">
        <div class="place__recommendation_list-title">
        <h1>Gallery Recommendation List Puerto vallarta</h1></div>
        {% for place in places %}
            <div class="property-item">
                        
                        <p><strong>Gallery Name:</strong> {{ place.gallery_name}}</p>
                        <p><strong>Kind of Art :</strong> {{ place.kind_of_art}}</p>
                        <p><strong>Range of Price:</strong> {{ place.range_of_price}}</p>
                        <p><strong>Description Title:</strong> {{ place.title_h1}}</p>
                        <p><strong>Description:</strong> {{ place.description}}</p>
                        <p><strong>Address:</strong> {{ place.address}}</p>
                        <p><strong>Phone Number:</strong> <h4 type="Phone"> {{ place.phone_number}}</h4></p>
                        <p><strong>Days and Hours Open:</strong> {{ place.days_open}}</p>
                        <p><strong>Days Closed:</strong> {{ place.days_closed}}</p>
                        
                    <h3>Gallery</h3>
                    <div class="image-grid">
                        {% if place.imagen1 != 'null' and place.imagen1.url|length >= 1 %}
                                <a class="fancybox" href="{{ place.imagen1.url }}">
                                    <img src="{{ place.imagen1.url }}" class="thumbnail" />
                                </a>
                                {% endif %}
                                {% if place.imagen2 != 'null' and place.imagen2.url|length >= 1 %}
                                <a class="fancybox" href="{{ place.imagen2.url }}">
                                    <img src="{{ place.imagen2.url }}" class="thumbnail" />
                                </a>
                                {% endif %}
                                {% if place.imagen3 != 'null' and place.imagen3.url|length >= 1 %}
                                <a class="fancybox" href="{{ place.imagen3.url }}">
                                    <img src="{{ place.imagen3.url }}" class="thumbnail" />
                                </a>
                                {% endif %}
                                {% if place.imagen4 != 'null' and place.imagen4.url|length >= 1 %}
                                <a class="fancybox" href="{{ place.imagen4.url }}">
                                    <img src="{{ place.imagen4.url }}" class="thumbnail" />
                                </a>
                                {% endif %}
                            </div>
                                {% if place.google_maps %}
                                <div class="map-container">
                                {{ place.google_maps | safe }}  {# Use | safe filter to render HTML content #}
                                </div>
                                {% else %}
                                    <p>Google Maps location not available for this property.</p>
                                {% endif %}
                            
                        

        <!-- Add more fields as needed -->
        <div class="share_button">
            <a href="{% url 'gallery_recommendation_create' %}">ADD  GALLERY</a>
            <a href="{% url 'gallery_recommendation_detail' place.pk %}">SHARE</a>
            <a href="{% url 'gallery_recommendation_edit' place.pk %}">EDIT</a>
            <a href="{% url 'home'  %}">HOME</a>
            </div> {%comment%} RECOMMENDATION SECTION buttons END {%endcomment%}
    </div>
    
{% endfor %}
</div>
</main>
{%endblock%}

