<!DOCTYPE html>
<html lang="en">
<head>
    {%comment%}
    {%load static%}
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /><!--ICONOS GG-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CHRISTHIAN STEPHEN ">
    <link  rel='icon'href={%  static 'images/foto-tarjeta-ico.ico' %} alt="logo pagina"/>
    <meta name="description" content="Explore Puerto Vallarta real estate with Ever: beachfront properties, luxury homes, and the best market prices with personalized service to find your perfect paradise.">
    <meta name="keywords" content="Puerto Vallarta real estate, beachfront properties, luxury homes Puerto Vallarta, Ever real estate, Puerto Vallarta condos, vacation homes, Puerto Vallarta rentals, affordable homes Puerto Vallarta, real estate market Puerto Vallarta, investment properties.">
    <meta name="title" content="Find Your Dream Home - Puerto Vallarta Real Estate | Best Properties & Prices ">

    <meta name="OG:TITLE" content=" Puerto Vallarta Real Estate">
    <meta name="OG:IMAGE" content="images/foto_blanco3.png">
    <meta name="OG:description" content="Explore Puerto Vallarta real estate with Ever: beachfront properties, luxury homes, and the best market prices with personalized service to find your perfect paradise.">
    <meta name="OG:url" content="home">



    <link
rel="stylesheet"
type="text/css"
href= {% static 'css/styles.css'%} />

<link
rel="stylesheet"
type="text/css"
href= {% static  'css/fonts.css'%}/>

    {%block title%}
    <title>Home</title>
    {%endblock%}
{%endcomment%}


{%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CHRISTHIAN STEPHEN ">
    
    <title> Web Developer</title>

     <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" /><!--ICONOS GG-->

     <meta http-equiv="Cache-Control" content="no-store">
     <meta http-equiv="Pragma" content="no-cache">
     
    <meta name="programador" content="CHRISTHIAN STEPHEN ">
    <meta name="description" content="Desarrollador web christian stephen dedicado a crear sitios y aplicaciones que reflejen los valores y principios de tu negocio por medio del mundo digital. Comprometido con la excelencia técnica y la integridad ética en cada proyecto, utilizando mis habilidades para impactar positivamente en línea con mi trabajo">
    <meta name="keywords" content="Desarrollador web de aplicaciones web,Sitios web acorde a las necesidades de tu negocio,Desarrollador web,Diseño web,Programación,programador web ,Experto en desarrollo  y hosting web, desarrollo digital">

    <meta name="title" content="Desarrollo Web 100% Personalizado | Metodos y Diseño Personalizado Dependiendo de las Necesidades de Tu negocio  ">
    <link  rel='icon'href={%  static 'images/foto-tarjeta-ico.ico' %} alt="logo Programador"/>
    <meta name="OG:TITLE" content=" Puerto Vallarta Web Developer">
    <meta name="OG:IMAGE" content="images/paginas_web_puerto_vallarta.jpeg"type="image/png">
    <meta name="OG:description" content="Desarrollador web christian stephen dedicado a crear sitios y aplicaciones que reflejen los valores y principios de tu negocio por medio del mundo digital. Comprometido con la excelencia técnica y la integridad ética en cada proyecto, utilizando mis habilidades para impactar positivamente en línea con mi trabajo.">
    <meta name="OG:url" content="author">

    <link rel="stylesheet" href= {% static 'css/animations.css' %}/>
    <link
    rel="stylesheet"
    type="text/css"
    href= {% static 'css/styles.css'%} />
</head>
    <!-- ############## TROZO DE CODIGO PARA QUE LAS IMAGENES TENGAN BOTON PARA CERRARLAS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                infobar: false, // Disable the bottom toolbar
                buttons: [
                    'close'
                ],
                btnTpl: {
                    close: '<button data-fancybox-close class="fancybox-button fancybox-button--close" title="Close">' +
                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>' +
                        '</button>'
                }
            });
        });
    </script>


    
</head>

<header>

    
    <div class="header-container">
        <div class="header-content">
            <div class="main_about-picture">
                <img src="/static/images/foto-edificio.jpeg" alt="web developer's Photo">
                 {%comment%} AQUI VOY A MOSTRAR LOS MENSAJES DE EMAIL ENVIADO {%endcomment%}


                    {%comment%} ################################################## {%endcomment%}


                    
            </div>
            <div class="main_about-text">
                <div class="about_aver_title"><h2>About Ever </h2></div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                <h4 class="parrafo-header">
                    <p>When considering Ever as your real estate agent in Puerto Vallarta, you're choosing a seasoned professional with an unmatched passion for finding dream homes. With over 5 years of experience in the vibrant Puerto Vallarta real estate market, Ever has cultivated an impressive track record of successful transactions and delighted clients.</p></br>
                    <p>
                    
                    His deep understanding of the local market trends, combined with a meticulous attention to detail, ensures that every client receives personalized attention and expert guidance throughout the buying process. Ever's commitment to integrity and transparency means you can trust him to navigate negotiations and contracts with your best interests at heart.
                    </p></br>
                    <p>
                    Those who have purchased properties through Ever rave about his unwavering dedication and his ability to match homes perfectly to their needs and desires. His clients not only find their dream homes but also gain a trusted advisor who continues to support them long after the sale is finalized.</p>
                    <p></br>
                    Choosing Ever as your real estate agent isn't just a decision to buy a home; it's a decision to invest in a seamless, fulfilling experience guided by a true professional who prioritizes client satisfaction above all else.</p></br>
                </h4>
            </div>
        </div>

        <nav class="main-menu">

                {% if user.username %}
                <ul>

                    <li><a href="{% url 'portfolio'%}"  tarjet=blank>Portfolio</a></li>
                    <details class="details__main-menu">
                        <summary class="summary__main-menu">  Services </summary>
                        <li><a href="{% url 'restaurant_recommendation_list'%}" >Best Restaurants PV</a></li>
                        <li><a href="{% url 'bar_recommendation_list'%}" >Bars to visit</a></li>
                        <li><a href="{%url 'tour_recommendation_list'%}">Best Tour Recommendation</a></li>
                        <li><a href="{%url 'gallery_recommendation_list'%}">Art Galleries</a></li>

                        <li><a href="#">The shows You Can't miss </a></li>
                    </details>

                    <li><a href="{% url 'reviews_list'%}"  tarjet=blank >Reviews</a></li>
                    <li><a href="{% url 'contact_form'%}"  tarjet=blank >Contact</a></li>
                    <li><a href="{% url 'faq'%}"  tarjet=blank>FAQ</a></li>
                    <li><a href="{% url 'web_developer_puerto_vallarta'%}"  tarjet=blank>Author</a></li>
                    <li><a href="{% url 'set_appointment'%}"  tarjet=blank>Request Viewing Appointment</a></li>
                     <li><a href="{% url 'home'%}"  tarjet=blank >Home</a></li>
                    <li><a href="{% url 'logout'%}" >Logged in as  {{ user.username }} : Logout</a></li>
                </ul>


                {% else%}
                <ul>


                    <li><a href="{% url 'portfolio'%}"  tarjet=blank>Portfolio</a></li>
                    <details class="details__main-menu">
                        <summary class="summary__main-menu">  Services </summary>
                        <li><a href="{% url 'restaurant_recommendation_list'%}" >Best Restaurants PV</a></li>
                        <li><a href="{% url 'bar_recommendation_list'%}" >Bars to visit</a></li>
                        <li><a href="{%url 'tour_recommendation_list'%}">Best Tour Recommendation</a></li>
                        <li><a href="{%url 'gallery_recommendation_list'%}">Art Galleries</a></li>
                        <li><a href="#">The shows You Can't miss </a></li>

                    </details>
                    <li><a href="{% url 'sign_up'%}"  tarjet=blank>Sign Up</a></li>
                    <li><a href="{% url 'login'%}"  tarjet=blank>login</a></li>
                    <li><a href="{% url 'contact_form'%}"  tarjet=blank>Contact</a></li>
                    <li><a href="{% url 'reviews_list'%}"  tarjet=blank >Reviews</a></li>
                    <li><a href="{% url 'faq'%}"  tarjet=blank>FAQ</a></li>
                    <li><a href="{% url 'web_developer_puerto_vallarta'%}"  tarjet=blank>Author</a></li>
                    <li><a href="{% url 'home'%}"  tarjet=blank >Home</a></li>
                    <li><a href="{% url 'set_appointment'%}"  tarjet=blank>Request Viewing Appointment</a></li>
                </ul>

            {% endif%}

        </nav>
    </div>
</header>
<body>
    {% comment %} ################## BUSCADOR ######################### {%endcomment%}



    <form method="GET" action="{% url 'property_search_view' %}">
        <input type="text" name="q" placeholder="Search  by area ,price,bedrooms#,view ">
        <button type="submit">Search</button>
    </form>
    <main class="container">
    {% if query %} {%comment%} SI queri TIENE ALGO MUESTRA LO SIGUIENTE,,query ES EL NOMBRE QUE LE DIO A LA VARIABLE EN EL MEDODO DE views {%endcomment%}
        <h3>Search Results for '{{ query }}':</h3> {%comment%} AQUI ESTA MOSTRANDO ESTE TITULO MAS LA PALABRA QUE INGRESO EL USUSAIO {%endcomment%}
    {% endif %}



    {% if properties %}
        {% for property in properties %}

            <h1 class="ver-property_title">Property Search Results</h1>
            <div class="articulos-item">
        <div class="see_all_properties">
                <div class="property-item">
                <p><strong>Propery ID:</strong> {{ property.id }}</p>
                <p><strong>Location:</strong> {{ property.location }}</p>
                <p><strong>Price:</strong> ${{ property.price }}</p>
                <h3>Gallery</h3>
                <div class="image-grid">
                    {% if property.imagen1 != 'null' and property.imagen1.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen1.url }}">
                                <img src="{{ property.imagen1.url }}" class="thumbnail" />
                            </a>
                            {% endif %}
                            {% if property.imagen2 != 'null' and property.imagen2.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen2.url }}">
                                <img src="{{ property.imagen2.url }}" class="thumbnail" />
                            </a>
                            {% endif %}
                            {% if property.imagen3 != 'null' and property.imagen3.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen3.url }}">
                                <img src="{{ property.imagen3.url }}" class="thumbnail" />
                            </a>
                            {% endif %}
                            {% if property.imagen4 != 'null' and property.imagen4.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen4.url }}">
                                <img src="{{ property.imagen4.url }}" class="thumbnail" />
                            </a>
                            {% endif %}


                            {% if property.imagen5 != 'null' and property.imagen5.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen5.url }}">
                                <img src="{{ property.imagen5.url }}" class="thumbnail" />
                            </a>
                            {% endif %}

                            {% if property.imagen6 != 'null' and property.imagen6.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen6.url }}">
                                <img src="{{ property.imagen6.url }}" class="thumbnail" />
                            </a>
                            {% endif %}

                            {% if property.imagen7 != 'null' and property.imagen7.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen7.url }}">
                                <img src="{{ property.imagen7.url }}" class="thumbnail" />
                            </a>
                            {% endif %}
                            {% if property.imagen8 != 'null' and property.imagen8.url|length >= 1 %}
                            <a class="fancybox" href="{{ property.imagen8.url }}">
                                <img src="{{ property.imagen8.url }}" class="thumbnail" />
                            </a>
                            {% endif %}

                            {% if property.video != 'null' and property.video.url|length >= 1 %}
                                <video class="video_property" width="280"  controls src="{{ property.video.url }}" alt="Property Video"></video>
                            {% endif %}

                </div>


                <div class="share_button">
                    <a href="{{ property.get_object_url }}">Share</a>
                </div>
                <details>
                    <summary> See Info </summary>
                            <p><strong>Size:</strong> {{ property.property_size }}</p>
                            <p><strong>Bedrooms:</strong> {{ property.bedrooms }}</p>
                            <p><strong>Bathrooms:</strong> {{ property.bathrooms }}</p>
                            <p><strong>Type:</strong> {{ property.property_type }}</p>
                            <p><strong>Property Conditions:</strong> {{ property.property_status }}</p>
                        {%comment%} <p><strong>MLS:</strong>  href="{{ property.mls }}</p> {%endcomment%}

                            <p><strong>Agent:</strong> {{ property.agent_name }}</p>
                            <p><strong class="active">Status:</strong> {{ property.status }}</p>
                            
                            <p><strong>Pre Construction:</strong> {% if property.pre_construction %}Yes{% else %}No{% endif %}</p>                       
                            <p><strong>Development Name:</strong> {{ property.development_name }}</p>
                            <p><strong>Pet Friendly:</strong> {% if property.pet_friendly %}Yes{% else %}No{% endif %}</p>
                            <p><strong>Primary View:</strong> {{ property.primary_view }}</p>
                           {%comment%} <p><strong>Description:</strong> {{ property.property_description }}</p>{%endcomment%}
                            <p><strong>Created:</strong> {{ property.created }}</p>
                            <p><strong>Updated:</strong> {{ property.updated }}</p>

                <details>
                    <summary> Extra Info </summary>
                            <p><strong>Water:</strong> {{ property.water }}</p>
                            <p><strong>Stories:</strong> {{ property.stories}}</p>
                            <p><strong>Furnished:</strong> {{ property.furnished}}</p>
                            <p><strong>Comunity:</strong> {{ property.comunity}}</p>
                            <p><strong>Sewer:</strong> {{ property.sewer}}</p>
                            <p><strong>Walls</strong> {{ property.walls }}</p>
                            <p><strong>Road type:</strong> {{ property.road_type }}</p>
                            <p><strong > Electricity:</strong>  {{ property.electricity}}</p>
                            <p><strong>Unit Details:</strong> {{ property.unit_details }}</p>
                            <p><strong>Amenities:</strong> {{ property.amenities}}</p>
                            <p><strong>Appliances:</strong> {{ property.appliances }}</p>
                            <p><strong>Oven:</strong> {{ property.oven}}</p>
                            <p><strong>Rannge:</strong> {{ property.range }}</p>
                            <p><strong>Air Conditioning:</strong> {{ property.air_conditioning }}</p>
                            <p><strong >Water Heater:</strong>  {{ property.water_heater}}</p>
                            <p><strong>HOA:</strong> {{ property.hoa }}</p>
                            <p><strong>Info:</strong> {{ property.info}}</p>
                            <p><strong>HOA Info:</strong> {{ property.hoa_info }}</p>
                            <p><strong>Oven:</strong> {{ property.oven}}</p>
                            <p><strong>Rannge:</strong> {{ property.range }}</p>
                            <p><strong>Updated Date:</strong> {{ property.created }}</p>
                            <p><strong>Google Maps Location:</strong>
                            {% if property.google_maps %}
                                <div class="map-container">
                                {{ property.google_maps | safe }}  {# Use | safe filter to render HTML content #}
                                </div>
                            {% else %}
                                <p>Google Maps location not available for this property.</p>
                            {% endif %}
                </details>
                </div>





            </div>
            </div>
            <main>
            
        {% endfor %}
    {% else %}
        <div class="property-h4"></div>
    {% endif %}
    {% comment %}  ######################### FIN DE BUSCADOR ################# {%endcomment%}


    <main class="container">
        <div class="articulos-item">
            {% for property in articulos %}
                <div class="property-item">
                    <p><strong>Property ID:</strong> {{ property.id }}</p>
                    <p><strong>Location:</strong> {{ property.location }}</p>
                    <p><strong>Property Price:</strong> {{ property.price }}</p>

                    <h3>Gallery</h3>
                    <div class="image-grid">
                        {% if property.imagen1 and property.imagen1.url %}
                        <a class="fancybox" href="{{ property.imagen1.url }}">
                            <img src="{{ property.imagen1.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.imagen2 and property.imagen2.url %}
                        <a class="fancybox" href="{{ property.imagen2.url }}">
                            <img src="{{ property.imagen2.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.imagen3 and property.imagen3.url %}
                        <a class="fancybox" href="{{ property.imagen3.url }}">
                            <img src="{{ property.imagen3.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.imagen4 and property.imagen4.url %}
                        <a class="fancybox" href="{{ property.imagen4.url }}">
                            <img src="{{ property.imagen4.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.imagen5 and property.imagen5.url %}
                        <a class="fancybox" href="{{ property.imagen5.url }}">
                            <img src="{{ property.imagen5.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.imagen6 and property.imagen6.url %}
                        <a class="fancybox" href="{{ property.imagen6.url }}">
                            <img src="{{ property.imagen6.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.imagen7 and property.imagen7.url %}
                        <a class="fancybox" href="{{ property.imagen7.url }}">
                            <img src="{{ property.imagen7.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.imagen8 and property.imagen8.url %}
                        <a class="fancybox" href="{{ property.imagen8.url }}">
                            <img src="{{ property.imagen8.url }}" class="thumbnail" />
                        </a>
                        {% endif %}
                        {% if property.video and property.video.url %}
                            <video class="video_property" controls>
                                <source src="{{ property.video.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}

                    </div>

                    <div class="share_button">
                        <a href="{{ property.get_object_url }}">Share</a>
                    </div>

                    <details>
                        <summary>See Info</summary>
                        <p><strong>Property Size:</strong> {{ property.property_size }}</p>
                        <p><strong>Bedrooms:</strong> {{ property.bedrooms }}</p>
                        <p><strong>Bathrooms:</strong> {{ property.bathrooms }}</p>
                        <p><strong>Property Type:</strong> {{ property.property_type }}</p>
                        <p><strong>Property Conditions:</strong> {{ property.property_status }}</p>
                            {%comment%} <p><strong>MLS:</strong>  href="{{ property.mls }}</p> {%endcomment%}
                        <p><strong>Agent Name:</strong> {{ property.agent_name }}</p>
                        <p class="active"><strong>Status:</strong> {{ property.status }}</p>
                        <p><strong>Development Name:</strong> {{ property.development_name }}</p>
                        <p><strong>Pre Construction:</strong> {{ property.pre_construction }}</p>
                        <p><strong>Pet Friendly:</strong> {{ property.pet_friendly }}</p>
                        <p><strong>Primary View:</strong> {{ property.primary_view }}</p>

                        

                        <details>
                            <summary>Extra Info</summary>
                            <p><strong>Water:</strong> {{ property.water }}</p>
                            <p><strong>Stories:</strong> {{ property.stories }}</p>
                            <p><strong>Furnished:</strong> {{ property.furnished }}</p>
                            <p><strong>Community:</strong> {{ property.community }}</p>
                            <p><strong>Sewer:</strong> {{ property.sewer }}</p>
                            <p><strong>Walls:</strong> {{ property.walls }}</p>
                            <p><strong>Road type:</strong> {{ property.road_type }}</p>
                            <p><strong>Electricity:</strong> {{ property.electricity }}</p>
                            <p><strong>Unit Details:</strong> {{ property.unit_details }}</p>
                            <p><strong>Amenities:</strong> {{ property.amenities }}</p>
                            <p><strong>Appliances:</strong> {{ property.appliances }}</p>
                            <p><strong>Oven:</strong> {{ property.oven }}</p>
                            <p><strong>Range:</strong> {{ property.range }}</p>
                            <p><strong>Air Conditioning:</strong> {{ property.air_conditioning }}</p>
                            <p><strong>Water Heater:</strong> {{ property.water_heater }}</p>
                            <p><strong>HOA:</strong> {{ property.hoa }}</p>
                            <p><strong>Info:</strong> {{ property.info }}</p>
                            <p><strong>HOA Info:</strong> {{ property.hoa_info }}</p>
                            <p><strong>Updated Date:</strong> {{ property.created }}</p>
                            <p><strong> Google Maps Location</strong></p>
                            {% if property.google_maps %}
                                <div class="map-container">
                                {{ property.google_maps | safe }}  {# Use | safe filter to render HTML content #}
                                </div>
                            {% else %}
                                <p>Google Maps location not available for this property.</p>
                            {% endif %}
                            
                        </details>
                    </details>

                    
                </div>
            {% endfor %}
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".fancybox").fancybox({
                infobar: false,
                buttons: [
                    'close'
                ],
                btnTpl: {
                    close: '<button data-fancybox-close class="fancybox-button fancybox-button--close" title="Close">' +
                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>' +
                        '</button>'
                }
            });
        });
    </script>


    <footer> &copy;
        2024 CSTS Real state. All Rights Reserved.  </br>
       
        
         <!-- ###################### ABRIR WHATSAPP -->
    
        <button  class="whatsapp_chat"  onclick="openWhatsAppChat('+525581154023')">Start WhatsApp Chat</button>
    

    <script>
    function openWhatsAppChat(number) {
        // Replace the country code and number with your own WhatsApp number
        var whatsappNumber = number;
        var whatsappMessage = encodeURIComponent("Hello, I would like to chat with you.");

        // Construct the WhatsApp URL
        var whatsappUrl = "https://wa.me/" + whatsappNumber + "?text=" + whatsappMessage;

        // Open the WhatsApp chat window
        window.open(whatsappUrl, '_blank');
    }
    </script>
<!--#######################################################################################-->
        <h5 type="Phone">Phone: +52 5581154023</h5>
        <h5 type="Email">Email: wwwstephen95live@gmail.com</h5>

    </footer>

</body>

</html>
