/*############################################### INICIO ########################################################*/
*{
    box-sizing: border-box; /*ESTO ES PARA QUE EL CONTENIDO CREZCA PARA ADENTRO DE LA CAJA Y NO ALTERE EL TAMAÑO*/
  
    margin:0;
    


}

body{
    margin:0;
    font-family: sans-serif;
    background-image: linear-gradient(#18233f,#18233f58);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#101632dd;
    height:100vh;
}

body,div,ul,nav,header,footer,a,li,label{
    margin:0;
    padding:0;
}

/* Main menu styles */
.main-menu {
    flex-grow: 1;
    text-align: center;
    border-top:1px solid rgba(255, 255, 255, 0.557);
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .main-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  
  .main-menu ul li {
    display: inline-block;
    margin: 0 10px;
    margin-bottom: 5px;
    position: relative;
    background-color: #5555553f;
    border-radius: 5px;
  }
  
  .main-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.635);
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-family: 30px;
    font-weight: 900;
  }
  
  .main-menu ul li a:hover {
    background-color: #555555;
  }
  
  
  @media only screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }
  
    .main_about-text {
        padding: 0 10px;
    }
  
    .main-menu {
        margin-top: 20px;
    }
  
    .main-menu ul li {
        display: inline-block;
        margin: 10px 0;
    }
  }
  .parrafo-header{
    color:rgba(255, 255, 255, 0.58);
    white-space:pre-wrap;
  }
  
  .parrafo-header::first-letter{
    initial-letter: 4;
      margin-right: 10px;
      color:#48e
  }
  p{
    font-size: 24px;
  }
  /*######## FIN DE MENU ##################*/


/*############################################ FORM REGISTRO ###########################################################*/
.form__register{
    min-height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-name: form;
    container-type: inline-size;
    margin:auto;
    margin-top:70px;
}



.form__register-title{
    padding:0 0;
    margin:3px;
    margin-top:-30px;
    font-size: 2.6rem;
    color:#fffd;

}

.form__register-form{


    max-width: 600px;
    width:50%;/*CON ESTE HACE QUE NO SE DEFORME CUANDO ACHICO LA PANTALLA*/
    display:grid;/*ESTO SE LO PUSIMOS DESPUES PARA TRABAJAR CON LOS MEDIA QUERIES */
    gap:12px;
    background:linear-gradient(#18233f9e ,#18233f9e),url(/static/images/fondo-registro.jpeg);
    background-position: -500px;
    box-shadow: 0px 0px 12px #0006;
    padding:12px;
    border-radius: 12px;
    margin-bottom: 30px;
    color:#fffd;

}
@media screen and (max-width:460px){
   .form__register{ margin:auto;
                    margin-left:30px;}

}

.form__register-input-container :is(input){
    width:100%;
    padding: 9px ;
    font-size: 16px;
    color:#fffd;
    font-weight:600;
    margin:4px;
    border:none;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.361);
    box-shadow: 0px 0px 1px white;



}

.form__register-input-container input[type="submit"]{
    padding:12px;
    background-color:#3E65B0;
    color:#fffd;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.235);
    border-radius: 10px;
}


/*############################################ BOTON Registro  #################################################*/

.btn-1{
    border:1px solid #48e;
    overflow: hidden; /*OVERFLOW hidden HACE QUE LO QUE SE SALE DEL CONTAINER CON EL MARGIN QUE LE DOY HABAJO EN TOP Y LEFT  NO SE MUESTRE , */
    font-size:20px;
    box-shadow: 0px 0px 10px black;
}

.btn-1::before{/*TODO ESTO ES EL FONDO AZUL DEL BOTON*/
    content:'';
    background-color:#003273c8;
    display:block;
    height:200%;
    width:140%;
    position:absolute;
    z-index:-1;/*ESTO ES PARA QUE SE PONGA POR DEBAJO DEL TEXTO PORQUE EL FONdO AZUL ME ESTABA TAPANDO EL TEXTO*/

    /*ESTO ES PARA QUE LA TRANSICION DEL EFECTO DEL hover SE DEMORE MAS*/
    transition:top .6s , left .6s ;
    border-radius: 50%;
    top:100%;/*ESTO ES margin DEL FONDO DEL BOTON , esto hace que el fondo baje*/
    left:30%;/*ESTO ES margin DEL FONDO DEL BOTON  ESTO HACE QUE EL FONDO SE VAYA A LA DERECHA, VER OVERFLOW*/
}

/*ACA LE ESTAMOS DICIENDO QUE EL btn-1 EN hover ACCEDAMOS AL BEFORE Y VAMOS A MODIFICARLO */
.btn-1:hover::before{
    top:-35%;/*esto hace que el fondo suba cuando le hago hover*/
    left:-20%;/*esto hace que el fondo se pegue a la izquierda  cuando le hago hover*/

}

/* #################################### FIN DE BOTON REGISTRO#################################################*/




/*########################################ESTO NO FUNCIONO, SE SUPONE QUE SE DEBERIAN JUNTAR EL INPUT DEL NOMBRE Y EL APELLIDO EN EL MISMO RENGLON ####################################*/
@container form (min-width:900px){

        .form__register-input-container :is(input){
        background-color:#18233f;
        grid-template-areas:
        "Username Username"
        "Email address Email address"
        "Firstname Lastname"
        "Password Password"
        "Password confirmation Password confirmation";
        grid-template-columns:100px 100px;/*ESTO DEBERIA PONER 2 COLUMNAS JAL PRINCIPIOY NO LO ESTA HACIENDO*/


    }
}

@container form (min-width:300px){
    .form__register-form{
        min-width:400px
    }
}
/*################################################################################################################*/



/*################################ FORM LOGIN ################################*/
.form__login{
    min-height: 60vh;    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px 0;
    container-name: form;
    container-type: inline-size;

}


.form__title{
    color:#fffd;
    font-size: 2.6rem;
    margin:3px;
    
    
}

.form__form-login{
    min-width:400px;
    padding:12px;
    max-width: 600px;
    width:50%;/*CON ESTE HACE QUE NO SE DEFORME CUANDO ACHICO LA PANTALLA*/
    display:grid;/*ESTO SE LO PUSIMOS DESPUES PARA TRABAJAR CON LOS MEDIA QUERIES */
    gap:12px;
    color:#e2eaff;
    background-image:linear-gradient(#18233fa7,#18233fa7),url(/static/images/fondo-candados.jpg);
    background-position: -300px;
    box-shadow: 0px 0px 12px #0006;
    padding:12px;
    border-radius: 12px;
}


@media screen and (max-width:480px){
    .form__form-login{ margin:auto;
                    overflow-x:hidden;
                    }

}

.form__login-input-container :is(input){
    width:100%;
    padding: 9px ;
    font-size: 16px;
    margin:4px;
    border:none;
    box-shadow: 2pk 2px 4px #0003 ;
    border-radius: 7px;

}

/* ################################# BOTON login Neon ############################################*/

.wrapper{/*ESTOS ATRIBUTOS SE LE DAN A LA CAJA PADRE*/
    display:flex;
    flex-direction: column;
    height:5vh;
    margin-top:10px;
    justify-content: space-evenly;
    align-items: center;
    container-name: quitar-margin;
    container-type: inline-size;
}



.btn{
    padding:10px 40px;
    background-color: transparent;
    color:white;
    border-radius: 6px;
    letter-spacing: 3px;
    position:relative;/*ESTO ES PARA QUE TOMEN COMO REFERENCIA LA CAJA DEL wrapper*/
}




.btn-2{
    border:3px solid #fff9;
    color:#fff9;
    margin-top:5px;
}

.btn-2:hover{
    animation: parpadear 1s infinite alternate backwards;
}

@keyframes parpadear {
    0%{
        color:#fff3;
        border:1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    25%{
        border-color: #48e;
        color: rgba(111,168, 255);
        box-shadow: 0px 0px 6px #48e3 , 0px 0px 16px #48e3;
        text-shadow: 0px 0px 6px #48ee , 0px 0px 3px rgba(159,197,255,0.454);
    }

    30%{
        color:#fff3;
        border:1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    35%{

        color: rgba(111,168, 255);

        text-shadow: 0px 0px 6px #48ee , 0px 0px 3px rgba(159,197,255,0.454);
    }

    46%{
        color:#fff3;
        border:1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    60%{
        border-color: #48e;

        box-shadow: 0px 0px 6px #48e3 , 0px 0px 16px #48e3;

    }

    78%{
        color:#fff3;
        border:1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    100%{

        color: rgba(111,168, 255);

        text-shadow: 0px 0px 6px #48ee , 0px 0px 3px rgba(159,197,255,0.454);
    }
}
/*############################################## FIN boton NEON /***************************************************/

footer {
  background-color: #18233fcc;
  color: rgba(255, 255, 255, 0.76);
  padding: 30px 0;
  text-align: center;
  font-size: 25px;
  position:absolute;
  border-radius: 10px;
  width:100%;
 margin:auto;
 
}













